/*style.css
JakeNTech
19-04-19*/
/*body -- NOTE: This is only to apply the Google Font!*/
body{
    font-family: 'Roboto', sans-serif;
}
header{
    text-align: center;
    background-color: #a1a6ad;
    color: white;
    padding: 0.5%;
}
img {
    max-width: 100%;
    max-height: 100%;
}
#center_box {
	position: relative;
 	margin: auto;
	text-align:center;
}
#graphs{
    max-width:100%;
    max-height:100%;
}